@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.colored{
    color:#712cf9;
    font-weight: 500;
}

.hero{
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.tagline{
    color:rgb(80, 80, 80);
}

.subscribe-form{
    width:60%;
    margin:30px auto;
}

.btn-colored{
    background-color: #712cf9;
    color:white;
    margin-left:20px;
    border:none;
    padding: 5px 20px;
    font-size: 0.85rem;
    border-radius: 5px;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #712cf9 !important;
}

.card{
    padding:0 !important;
    border:none !important;
}

.badge{
    border-radius: 0px !important;
    background-color: #712cf9;
}

.time{
    display: inline-flex;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    margin-left:10px;
    color:#727272;
}

.circle{
    display: inline-block;
    height: 5px;
    margin-right:3px;
    width: 5px;
    border-radius: 50%;
    background-color: #727272;
}

.sub-text{
    color:#676767;
}

.img-fluid{
    height: 100% !important;
    object-fit: cover;
}

.side-card{
    padding-top:0px !important;
}